.services-provided-background-img{
    background:linear-gradient(180deg, rgba(211, 62, 97, .64), rgba(51, 22, 97, .64)),  url(../images/images/Layer%2026.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    min-height:500px;
    color:white;
}

.services-provided-section-content{
    padding-bottom:70px;
}

.services-provided-header{
     font-size:40px;
     position:relative;
     padding:100px 0 0 50px;
}

.services-provided-header:after {
    content: " ";
    position: absolute;
    left: 220px;
    right: 0;
    top: 135px;
    display: inline-block;
    width: 190px;
    height: 2px;
    background: gainsboro;
    transition: 1s;
}

.services-provided-text{
    width:350px;
    padding-top:40px;
    font-size:14px;
}

.services-provided-text-header{
    font-size:24px;
}

.services-provided__item{
    background-color: black;
    width:100%;
    color:white;
    display:inline-block;

}

.services-provided-list{
    text-align:right;
    padding-bottom:30px;
}

@media (max-width:882px){
    .services-provided-list {
        text-align:center;
        padding-bottom: 30px;
    }
}

@media (max-width:500px){
    .services-provided-header{
        padding:70px 0 0 0;
        text-align:center;
        white-space: nowrap;
    }

    .services-provided-header:after {
        content: " ";
        position: absolute;
        left: 187px;
        right: 0;
        top: 110px;
        display: inline-block;
        width: 190px;
        height: 2px;
        background: gainsboro;
        transition: 1s;
    }

    .services-provided__item {
        display: inline-block;
        padding: 50px 30px 0 0;
        text-align: left;
    }
}






